@font-face {
  font-family: 'Open Sans';
  font-display: swap;
  src: url('./fonts/OpenSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  font-display: swap;
  src: url('./fonts/OpenSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  font-display: swap;
  src: url('./fonts/Raleway-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display';
  font-display: swap;
  src: url('./fonts/PlayfairDisplay-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  font-style: normal;
  color: #1f1e25;
}